/* Yo anish ko ho */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.anishkobody {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(11, 67, 156);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.a-main{
    margin: 20px;
    padding: 20px;
    width: 1250px;
    height: 650px;
    background: white;
    display: flex;
    .a-top{
        display: flex;
        justify-content: space-between;
        /* background-color: aqua; */
        padding: 10px;
        margin-bottom: 10px;
        .add{
            transition: 0.5s;
        }
    }
    .a-search{
        /* background: skyblue; */
        padding: 10px;
        input{
            padding: 7px;
            border: 1px solid grey;
        }
    }
    .a-btm{
        padding: 10px;
        table{
            height: 400px;
            /* background-color: red; */
        }
    }
    .view:hover{
        background-color: #062ebe;
    }
    .edit:hover{
        background: #00770e;
    }
    .del:hover{
        background-color: #b4060c;
    }
    .add:hover{
        background-color: #062ebe;
    }
    .a-top-row{
        background-color: #9a9a9b;
    }
    .left_divv {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #434dcb;
        padding: 20px;
        color: gray;
        width: 22%;
        height: 100%;
        background-color: aliceblue;
        font-family: sans-serif; 
    }
    .iconn {
        margin-top: 15px;
        display: flex;
        margin-bottom: 40px;

    }

    .icon11 {
        margin-right: 8px;

        img {
            width: 50px;
            height: 50px;
        }
    }

    .icon22 {
        .smss {
            font-size: 30px;
            color: #2c51d8;
            font-weight: 500;
        }

        .namee {
            font-size: 15px;
        }
    }

    .menuu {
        font-size: 23px;
        
        div{
            font-weight: 500;
            margin-bottom: 19px;
            font-size: 15px;
        }
        i{
            margin-right: 10px;
        }
        span{
            font-weight: 600;
        }
    }

    .dashboardd {
        display: flex;
        margin-bottom: 10px;
        transition: 0.3s;
        border-radius: 10px;

        padding: 15px;

        i {
            color: white;
            margin-right: 23px;
        }
    }
.dashboardd:hover{
    background-color: #555fdb;
}
}


/* Jiya ko */

        .j-body{
            background-color: #14243a;
            padding: 30px;
        }
        .j-main{
        
            margin: auto;
            margin-left: 25px;
            margin-right: 25px;
        }
        .j-head{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            padding-top: 20px;
            font-family: sans-serif;
            height: 80px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: white;
            display: flex;
            justify-content: space-between;
        }
        .j-textimg{
            display: flex;
            margin-right: 20px;
        }
        .j-text{
            font-size: 25px;
            font-weight: 700;
        }
        .j-admin{
            font-size: 15px;
            font-weight: 600;
            margin-top: 10px;
            margin-right: 10px;
        }
        .j-img{
            background-image: url(pfpadmin.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
        .j-search{
            padding-top: 15px;
            margin-left: 25px;
            margin-right: 25px;
            font-family: sans-serif;
            height: 80px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: white;
            display: flex;
            justify-content: space-between;
        }
        input{
            outline: none;
            border: none;
        }
        input::placeholder{
            color: rgb(187, 180, 180);
            font-family: sans-serif;
        }
        .j-button{
            padding: 10px;
            margin-right: 20px;
            width: 130px;
            color: white;
            font-weight: 600;
            background-color: #2c51d8;
            outline: none;
            border: none;
            border-radius: 10px;
           
        }
        .tablee{
            padding-left: 20px;
            padding-right: 20px;
            background-color: white;
            color: black;
            margin-left: 25px;
            margin-right: 25px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        .j-table{
            height: 550px;
            width: 100%;
            text-align: center;
            font-family: sans-serif;
        
        }
        .j-change{
            font-weight: 700;
        }
        .j-view{
            background-color:#2d52d8 ;
        }
        .j-edit{
             background-color: #2e9f3b ;
        }
        .j-del{
             background-color: #f22830;
        }
       .j-last{
        position: relative;
        left: 800px;
        color: grey;
        span{
            width: 30px;
            height: 10px;
        }
        span:hover{
            background-color: #2d52d8;
        }
       }  
=======
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.main {

    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
}

.head {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 20px;
    font-family: sans-serif;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.textimg {
    display: flex;
    margin-right: 20px;
}

.text {
    font-size: 25px;
    font-weight: 700;
}

.admin {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 10px;
}

.img {
    background-image: url(pfpadmin.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.search {
    padding-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: sans-serif;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

input {
    outline: none;
    border: none;
}

input::placeholder {
    color: rgb(187, 180, 180);
    font-family: sans-serif;
}

button {
    padding: 10px;
    margin-right: 20px;
    width: 130px;
    color: white;
    font-weight: 600;
    background-color: #2c51d8;
    outline: none;
    border: none;
    border-radius: 10px;

}

.tablee {
    /* padding-left: 20px;
            padding-right: 20px; */
    background-color: white;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

table {

    /* margin-left: 25px;
            margin-right: 25px; */
    height: 550px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
>>>>>>> b84987ff0f2fd77142322f18c1f9e23d82c83b38

}

.change {
    font-weight: 700;
}

.view {
    background-color: #2d52d8;
    transition: 0.5s;
}

.edit {
    background-color: #2e9f3b;
    transition: 0.5s;
}

.del {
    background-color: #f22830;
    transition: 0.5s;
}

.last {
    position: relative;
    left: 800px;
    color: grey;

    span {
        width: 30px;
        height: 10px;
    }

    span:hover {
        background-color: #2d52d8;
    }
}

/* Sarun ko */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.loginPage-body{
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.main_login {
    display: flex;
    width: 100%;

}

.left_div {
    background-color: #434dcb;
    padding: 20px;
    color: white;
    width: 24%;


}

.icon {
    display: flex;
    margin-bottom: 30px;

}

.icon1 {
    margin-right: 8px;

    img {
        width: 70px;
    }
}

.icon2 {
    .sms {
        font-size: 30px;
    }

    .name {
        font-size: 18px;
    }
}

.menu {
    font-size: 23px;
}

.dashboard_btn{
    display: flex;
    margin-bottom: 10px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;

    padding: 15px;

    i {
        color: white;
        margin-right: 23px;
    }
}

.dashboard_btn:hover {
    background-color: #555fdb;
}

.mid_div {
    background-color: #606fee;
    letter-spacing: 1px;

    align-items: center;
    width: 31%;
    color: white;
    padding: 0px 40px;
    padding-top: 250px;


    img {
        width: 300px;

        display: block;
        margin: 0px auto;

    }

    h2 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 15px;
    }

    p {
        font-size: 20px;
        text-align: center;
    }
}

.right_div {
    background-color: white;
    padding: 30px;
    width: 45%;


    #username,
    #pass {
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        outline: 1px solid gray;
        margin-bottom: 30px;
        margin-top: 5px;
        font-size: 15px;
    }


}

.login_form {

    padding: 40px;
    width: 95%;
    display: block;
    margin: 0px auto;
    border: 1px solid rgba(227, 226, 225, 0.4);
    box-shadow: 0px 0px 10px gray;
    border-radius: 20px;

    #checkbox {
        transform: scale(1.5);
        margin-right: 7px;
        cursor: pointer;

    }

    h2 {
        text-align: center;
        padding: 20px;
        margin-bottom: 15px;
    }

}

#login_btn {
    width: 100%;
    padding: 13px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 25px;
    background-color: #3252d6;
    color: white;
    margin-bottom: 15px;
    transition: 0.3s;
    font-size: 17px;
    cursor: pointer;
}

.login_lastpart {
    text-align: center;
    margin-top: 70px;
}

#login_btn:hover {
    background-color: #535ded;

}

.dashboard_main {
    height: 100%;
    width: 76%;
    padding: 20px;
    display: flex;

}

.dash_top {
    background-color: red;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.dash_mid {
    margin-top: 10px;
    display: flex;
    background-color: green;
    justify-content: space-between;

}

.mid_innerdiv {
    background-color: white;
    width: 40px;
    padding: 20px;


}

.admin_div {
    display: flex;
    align-items: center;
    background-color: green;


    .admin {
        font-size: 20px;
    }

    .admin_photo {
        img {
            width: 50px;
            border-radius: 50%;
        }
    }
}

/* Rajvir ko */
* {
    margin: 0px;
    padding: 0x;
    box-sizing: border-box;
}


.main-rajvir{
    width: 100%;
    height: 650px;

    display: flex;
}

.upper {
    display: flex;
    justify-content: space-between;

    width: 95%;
    height: 100px;
    margin-left: 20px;
}

.upright {
    height: 40px;
    background-color: #3551cf;
    color: aliceblue;
    border-radius: 15px;
    text-align: center;
    border: none;
    margin-top: 20px;
    width: 200px;


}

.upleft {
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
    color: balck;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;


}

.alldetail {
    position: absolute;
    top: 150px;
    width: 450px;
    height: 400px;
}

<<<<<<< HEAD
.detail{
    width:450px;
    height: 40px;
   
=======
.detail {
    width: 450px;
    height: 50px;

>>>>>>> 0f4c355a5a250a11fd8d1e1f80c947632f260ad7
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin-top: 7px;
    padding: 3px;
    border-bottom: 1px solid rgb(169, 162, 162);

    .f1 {
        font-weight: 500;
        font-size: 20px;
    }
}

.a1 {

    width: 200px;
    height: 30px;
    font-size: 19px;
    gap: 10px;
    color: #9a9a9b;
}

<<<<<<< HEAD
.pic{
    width: 300px;
    height: 400px;
    
    position:relative;
    top: 50px;
=======
.pic {
    width: 350px;
    height: 500px;

    position: relative;
    top: 100px;
>>>>>>> 0f4c355a5a250a11fd8d1e1f80c947632f260ad7
    left: 50px;
    border-radius: 20px;
    box-shadow: 3px 3px 15px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
<<<<<<< HEAD
}

.rs1{
    background-color: #eff0f1;
    width: 1200px;
}

=======
}
>>>>>>> 0f4c355a5a250a11fd8d1e1f80c947632f260ad7
