/* Yo anish ko ho */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.anishkobody {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(11, 67, 156);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.a-main{
    margin: 20px;
    padding: 20px;
    width: 1250px;
    height: 650px;
    background: white;
    display: flex;
    .a-top{
        display: flex;
        justify-content: space-between;
        /* background-color: aqua; */
        padding: 10px;
        margin-bottom: 10px;
        .add{
            transition: 0.5s;
        }
    }
    .a-search{
        /* background: skyblue; */
        padding: 10px;
        input{
            padding: 7px;
            border: 1px solid grey;
        }
    }
    .a-btm{
        padding: 10px;
        table{
            height: 400px;
            /* background-color: red; */
        }
    }
    .view:hover{
        background-color: #062ebe;
    }
    .edit:hover{
        background: #00770e;
    }
    .del:hover{
        background-color: #b4060c;
    }
    .add:hover{
        background-color: #062ebe;
    }
    .a-top-row{
        background-color: #9a9a9b;
    }
    .left_divv {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #434dcb;
        padding: 20px;
        color: gray;
        width: 22%;
        height: 100%;
        background-color: aliceblue;
        font-family: sans-serif; 
    }
    .iconn {
        margin-top: 15px;
        display: flex;
        margin-bottom: 40px;

    }

    .icon11 {
        margin-right: 8px;

        img {
            width: 50px;
            height: 50px;
        }
    }

    .icon22 {
        .smss {
            font-size: 30px;
            color: #2c51d8;
            font-weight: 500;
        }

        .namee {
            font-size: 15px;
        }
    }

    .menuu {
        font-size: 23px;
        
        div{
            font-weight: 500;
            margin-bottom: 19px;
            font-size: 15px;
        }
        i{
            margin-right: 10px;
        }
        span{
            font-weight: 600;
        }
    }

    .dashboardd {
        display: flex;
        margin-bottom: 10px;
        transition: 0.3s;
        border-radius: 10px;

        padding: 15px;

        i {
            color: white;
            margin-right: 23px;
        }
    }
.dashboardd:hover{
    background-color: #555fdb;
}
}


/* Jiya ko */

<<<<<<< HEAD
=======
<<<<<<< HEAD
 /* *{
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
        body{
            background-color: #14243a;
            padding: 30px;
        }
        .main{
        
            margin: auto;
            margin-left: 25px;
            margin-right: 25px;
        }
        .head{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            padding-top: 20px;
            font-family: sans-serif;
            height: 80px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: white;
            display: flex;
            justify-content: space-between;
        }
        .textimg{
            display: flex;
            margin-right: 20px;
        }
        .text{
            font-size: 25px;
            font-weight: 700;
        }
        .admin{
            font-size: 15px;
            font-weight: 600;
            margin-top: 10px;
            margin-right: 10px;
        }
        .img{
            background-image: url(pfpadmin.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
        .search{
            padding-top: 15px;
            margin-left: 25px;
            margin-right: 25px;
            font-family: sans-serif;
            height: 80px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: white;
            display: flex;
            justify-content: space-between;
        }
        input{
            outline: none;
            border: none;
        }
        input::placeholder{
            color: rgb(187, 180, 180);
            font-family: sans-serif;
        }
        button{
            padding: 10px;
            margin-right: 20px;
            width: 130px;
            color: white;
            font-weight: 600;
            background-color: #2c51d8;
            outline: none;
            border: none;
            border-radius: 10px;
           
        }
        .tablee{
            padding-left: 20px;
            padding-right: 20px;
            background-color: white;
            color: black;
            margin-left: 25px;
            margin-right: 25px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        table{
            height: 550px;
            width: 100%;
            text-align: center;
            font-family: sans-serif;
        
        }
        .change{
            font-weight: 700;
        }
        .view{
            background-color:#2d52d8 ;
        }
        .edit{
             background-color: #2e9f3b ;
        }
        .del{
             background-color: #f22830;
        }
       .last{
        position: relative;
        left: 800px;
        color: grey;
        span{
            width: 30px;
            height: 10px;
        }
        span:hover{
            background-color: #2d52d8;
        }
       }  */
=======
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
>>>>>>> ae96c0becc2bbc228538801ac83c5765a80b4086


.main {

    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
}

.head {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 20px;
    font-family: sans-serif;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.textimg {
    display: flex;
    margin-right: 20px;
}

.text {
    font-size: 25px;
    font-weight: 700;
}

.admin {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-right: 10px;
}

.img {
    background-image: url(pfpadmin.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.search {
    padding-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    font-family: sans-serif;
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

input {
    outline: none;
    border: none;
}

input::placeholder {
    color: rgb(187, 180, 180);
    font-family: sans-serif;
}

button {
    padding: 10px;
    margin-right: 20px;
    width: 130px;
    color: white;
    font-weight: 600;
    background-color: #2c51d8;
    outline: none;
    border: none;
    border-radius: 10px;

}

.tablee {
    /* padding-left: 20px;
            padding-right: 20px; */
    background-color: white;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

table {

    /* margin-left: 25px;
            margin-right: 25px; */
    height: 550px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
>>>>>>> b84987ff0f2fd77142322f18c1f9e23d82c83b38

}

.change {
    font-weight: 700;
}

.view {
    background-color: #2d52d8;
    transition: 0.5s;
}

.edit {
    background-color: #2e9f3b;
    transition: 0.5s;
}

.del {
    background-color: #f22830;
    transition: 0.5s;
}

.last {
    position: relative;
    left: 800px;
    color: grey;

    span {
        width: 30px;
        height: 10px;
    }

    span:hover {
        background-color: #2d52d8;
    }
}



/* Sarun ko */



/* login page css */



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


<<<<<<< HEAD

=======
.loginPage-body{
    height: 100vh;
    font-family: "Poppins", sans-serif;
}
>>>>>>> ae96c0becc2bbc228538801ac83c5765a80b4086

.main_login {
    display: flex;
    width: 100%;
<<<<<<< HEAD
    height: 100%;
    font-family: "Poppins", sans-serif;
=======
>>>>>>> ae96c0becc2bbc228538801ac83c5765a80b4086

}

.left_div {
    background-color: #434dcb;
    padding: 20px;
    color: white;
    width: 24%;


}

.icon {
    display: flex;
    margin-bottom: 30px;

}

.icon1 {
    margin-right: 8px;

    img {
        width: 70px;
    }
}

.icon2 {
    .sms {
        font-size: 30px;
    }

    .name {
        font-size: 18px;
    }
}

.menu {
    font-size: 23px;
}

.dashboard_btn{
    display: flex;
    margin-bottom: 10px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;

    padding: 15px;

    i {
        color: white;
        margin-right: 23px;
    }
}

.dashboard_btn:hover {
    background-color: #555fdb;
}

.mid_div {
    background-color: #606fee;
    letter-spacing: 1px;

    align-items: center;
    width: 31%;
    color: white;
    padding: 0px 40px;
    padding-top: 250px;


    img {
        width: 300px;

        display: block;
        margin: 0px auto;

    }

    h2 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 15px;
    }

    p {
        font-size: 20px;
        text-align: center;
    }
}

.right_div {
    background-color: white;
    padding: 30px;
    width: 45%;


    #username,
    #pass {
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        outline: 1px solid gray;
        margin-bottom: 30px;
        margin-top: 5px;
        font-size: 15px;
    }


}

.login_form {

    padding: 40px;
    width: 95%;
    display: block;
    margin: 0px auto;
    border: 1px solid rgba(227, 226, 225, 0.4);
    box-shadow: 0px 0px 10px gray;
    border-radius: 20px;

    #checkbox {
        transform: scale(1.5);
        margin-right: 7px;
        cursor: pointer;

    }

    h2 {
        text-align: center;
        padding: 20px;
        margin-bottom: 15px;
    }

}

#login_btn {
    width: 100%;
    padding: 13px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 25px;
    background-color: #3252d6;
    color: white;
    margin-bottom: 15px;
    transition: 0.3s;
    font-size: 17px;
    cursor: pointer;
}

.login_lastpart {
    text-align: center;
    margin-top: 70px;
}

#login_btn:hover {
    background-color: #535ded;

}

<<<<<<< HEAD





/* dashboard css */




.left_div-dash{
    padding: 20px;
    box-shadow: 1px 0px 10px rgba(201, 201, 201, 0.7);
   
}

.sms-dash{
    color: #434dcb;
    font-size: 40px;
    font-weight: 600;
}

.dashboard_btn-dash{
       display: flex;
    margin-bottom: 10px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;

    padding: 15px;

    i {
        color: black;
        margin-right: 23px;
    }
}

.dashboard_btn-dash:hover{
    background-color: #7684ee;
    color: white;
    i{
        color: white;
    }
}
=======
>>>>>>> ae96c0becc2bbc228538801ac83c5765a80b4086
.dashboard_main {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: "Poppins", sans-serif;
    background-color: #fffefe;
 

}
.dash_main{
    width:76%;
   
    padding: 30px;
}
.dash_top {
   
  
    display: flex;
    justify-content: space-between;
}

.fa-user-group{
    color: #3884f5;
}

.fa-person{
color: #318b3a;
}

.fa-person-dress{
 color: #cd4cc8;
}

.fa-trophy{
color: #f9aa18;
}

.dashboard{
    font-size: 30px;
    align-content: center;
}

.dash_mid {
    margin-top: 10px;
    display: flex;
   margin-top: 30px;
    justify-content: space-between;

}

.mid_innerdiv {
    width: 230px;
    padding: 20px;
    background-color: #fefeff;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgba(201, 201, 201, 0.8);

    i{
        font-size: 50px;
        margin-left: 45px;
        height: 56px;
        
    }
}

.upper{
    
    align-items: center;
  
}
.lower{
    font-size: 20px;

    .num{
        font-size: 50px;
        margin-top: 10px;
    }
}
    


.admin_div {
    display: flex;
    align-items: center;


    .admin {
        font-size: 20px;
    }

    .admin_photo {
        img {
            width: 50px;
            border-radius: 50%;
        }
    }
}


.dash_last{
 
    margin-top: 40px;
}

<<<<<<< HEAD
.recent{
    font-size: 20px;
}
table{
    border: none;
   

}
.table_top{
    background-color: #f1f4f9;
    padding: 0px;
}


/* Rajvir ko */

/* .main {
    width: 1100px;
    height: 790px;
    position: relative;
    left: 300px;
======= */

.main-rajvir{
    width: 100%;
    height: 640px;


    display: flex;
}

.upper {
    display: flex;
    justify-content: space-between;

    width: 95%;
    height: 100px;
    margin-left: 20px;
}

.upright {
    height: 40px;
    background-color: #3551cf;
    color: aliceblue;
    border-radius: 15px;
    text-align: center;
    border: none;
    margin-top: 20px;
    width: 200px;


}

.upleft {
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
    color: balck;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;


}

.alldetail {
   
   
    width: 450px;
    height: 150%;
    box-shadow: 1px 1px 15px;
    border-radius: 20px;
    padding: 20px;
    margin-right: 40px;
}


.detail {
    width: 400px;
    height: 150%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin-top: 7px;
    padding: 3px;
    border-bottom: 1px solid rgb(169, 162, 162);
   padding-right: 50px;

    .f1 {
        font-weight: 500;
        font-size: 20px;
    }
}

.a1 {

    width: 200px;
    height: 30px;
    font-size: 19px;
    gap: 10px;
    color: #9a9a9b;
}



.rajbir-pic {
    width: 350px;
    height: 100%;     
    border-radius: 20px;
    box-shadow: 3px 3px 15px;
  margin: 20px;

    img {
        width: 100%;
        height: 130%;
        border-radius: 20px;
        
    }

}

.rs1{
    background-color: #2c353f;
    width: 1200px;
}

.rajbir-last{
    background-color: #00770e;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    
    
}

